@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.ttf') format('truetype');
    font-family: 'Pixel';
    src: url("fontes/Pixel.ttf");
}

* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}


[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;
}

[game-over]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    margin-left: 35%;
    margin-top: 10%;
    border: 4px solid rgb(146, 233, 6);
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 40px;
    padding: 1%;
}

[game-over] a{
    cursor: pointer;
    background-color: rgb(255, 0, 149);
    border-radius: 20px;
    padding: 2%;
    font-family: 'Pixel';
    font-size: 30px;
}

[game-over] h3{
    color: rgb(250, 250, 7);
    font-family: Pixel;
    font-size: 30px;
}

[coin] img{
    width: 7%;
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 3px solid rgb(146, 233, 6);
}

.barreira .corpo {
    height: 40px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 3px solid rgb(146, 233, 6);
    border-right: 3px solid rgb(146, 233, 6);
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 100;
}